body {
  background-color: #42413d;
}

.nav {
  position: sticky;
  overflow: hidden;
  /* background-color: #DBFFE4; */
  margin-top: 50;
  background-color: #b2afac;
  z-index: 9;
}
.nav a {
  float: left;
  color: #42413d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
}
.logo {
  float: left;
  margin-left: 25px;
  color: #42413d;
  font: normal 20px "Open Sans", cursive;
  cursor: pointer;
  font-size: 35px;
}
.logo h3 span {
  color: #fcc41c;
}
.navmenu {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav img {
  border-right: 1px groove #fcc41c;
  border-radius: 5px;
}

.nav-link:hover {
  opacity: 1;
}

.right {
  float: right;
  position: right;
  margin-right: 2em;
  margin-top: 7px;
}
.shop-now {
  background-color: #fcc41c;
  padding-top: 10px;
  text-align: center;
  max-width: 120px;
  /* border: 10px; */
  border-radius: 20px;
  justify-content: center;
  font-size: 20px;
  margin-right: 10px;
  
}

/* Hide the link that should open and close the topnav on small screens */
.nav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {
    display: none;
  }
  .nav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .nav.responsive {
    position: relative;
  }
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.cart{
    width: 70px;
}
/* NAVIGATION BAR */
/* .nav {
    background-color: #b2afac;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;
  }
  .nav li {
    display: inline-block;
    font-size: 35px;
    padding: 1px 16px;
    width: 100px;
    text-align: center;
  }
  .nav li:last-child {
    border-right: none;
  }
  .nav img {
    width: 50px;
    height: 40px;
    padding-top: 5px;
    border-right: 1px groove #fcc41c;
    border-radius: 5px;
  }
  .nav a:link {
    color: #42413d;
    text-decoration: none;
  }
  .nav a:visited {
    color: aquamarine;
  }
  .nav a:hover {
    text-decoration: underline;
    background-color: #131210;
  }
  .nav a:active {
    background-color: #fcc41c;
  }
  ul.nav {
    margin: 0;
    padding: 0;
  }
  .cart {
    padding-right: 5px;
  }
  .logo {
    display: inline-block;
    padding-left: 5px;
    color: #42413d;
    font: normal 36px "Open Sans", cursive;
    margin: 0;
  }
  .logo h3 span {
    color: #fcc41c;
  } */

/* About */

.about {
  padding: 5px;
  size: 100%;
  overflow: hidden;
  background-color: #fcc41c;
  color: #1f1e1c;
  display: inline-block;
  max-width: 38%;
  height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;
  box-sizing: border-box;
  margin-bottom: 8px;
}
.about h1 {
  font-size: 45px;
}
.about p {
  font-size: 25px;
}
.shopmore {
  font-family: cursive;
  font-weight: bolder;
}

/* DISPLAY1*/
.display1 {
  padding: 15px;
  background-color: #b2afac;
  display: inline-block;
  max-width: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
  max-height: 350px;
}
.display1 img {
  width: 150px;
  height: 150px;
  padding: 10px;
}

/* Hello*/
.hello {
  position: absolute;
}

.hello img {
  width: 320px;
  height: 350px;
  padding-left: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #42413d;
  overflow: hidden;
  width: 360px;
  height: 0;
  transition: 0.5s ease;
}
.hello:hover .overlay {
  bottom: 0;
  height: 50%;
}
.text {
  white-space: nowrap;
  color: #fcc41c;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.shop-more {
  color: #b2afac;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}
.shop-more span {
  color: #fcc41c;
}

/* SIDE BAR*/
.side-bar {
  padding: 20px;
  background-color: #fcc41c;
  width: 12%;
  float: right;
  height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px 50px;
  box-sizing: border-box;
}

.side-bar {
  color: #42413d;
}

.side-bar a:link {
  text-decoration: none;
  font-size: 30px;
  color: #42413d;
}
.side-bar a:visited {
  color: rgb(63, 139, 139);
}

.side-bar li {
  list-style: none;
  padding-bottom: 8px;
}

li.dropdown {
  display: inline-block;
}

.drop-content {
  display: none;
  position: absolute;
  background-color: #42413d;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.drop-content a {
  color: #b2afac;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.drop-content a:hover {
  background-color: #eed389;
}
.dropdown:hover .drop-content {
  display: block;
}

/* DISPLAY2*/
.display2 {
  padding: 10px;
  background-color: #b2afac;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
  display: flex;
}
.display2 img {
  width: 15%;
  height: auto;
  padding: 10px;
}

/* Footer*/

footer {
  background-color: #42413d;
  color: #fff;
  padding: 15px 50px;
  display: block;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  /* padding: 55px 50px; */
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer .footer-left {
  width: 40%;
}

/* Logo */

.footer h3 {
  color: #b2afac;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer h3 span {
  color: #fcc41c;
}

/* Footer links */

.footer- .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer .footer-company-name {
  color: #b2afac;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer .footer-center {
  width: 35%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #fcc41c;
  text-decoration: none;
}

.footer .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer .footer-right {
  width: 20%;
}

.footer .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .footer-icons {
  margin-top: 25px;
}

.footer .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #fcc41c;
  border-radius: 2px;

  font-size: 20px;
  color: #42413d;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Responsiveness */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
